/* base styles */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-3);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;

  /* background-size: 100%; */
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}
p {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}
/* .section {
  padding: 96px 0;
} */
.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.section-title .accent {
  color: var(--color-primary-2);
}

ul {
  list-style: none;
  padding: 0;
}
/* buttons */
.button {
  width: 220px;
  height: 55px;
  color: var(--color-primary-1);
  background-color: var(--color-primary-2);
  border: 2px solid var(--color-primary-2);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
}
.underbutton-text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.link {
  color: var(--color-primary-3);
  text-decoration: none;
}
.link:hover {
  font-weight: 700;
  color: var(--color-primary-2);
}
/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  /* max-width: 1440px; */
  display: flex;
  justify-content: center;
  /* margin-bottom: 16px; */
  background-color: rgba(255, 255, 255, 0.25);
}
.header-container {
  display: flex;
  justify-content: center;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-nav-list {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  gap: 56px;
}
.header-nav-icon {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 32px;
}
/* hero section*/
.hero-section {
  width: 1510px;
  height: 681px;
  padding-top: 106px;
  margin-top: 0;
  margin-bottom: 176px;
  background-image: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('../images/face_massage.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero-container {
  /* position: relative; */
  /* top:106px; */
  margin-left: 106px;

  width: 100%;
  max-width: 529px;
}
.hero-section-logo {
  /* background-color: rgb(161, 167, 167); */
  width: 530px;
  height: 265px;
  /* margin-bottom: 40px; */
}
.hero-communication {
  /* background-color: #9cff2b; */
  justify-content: center;
  width: 240px;
  height: 100px;
  gap: 14px;
  /* margin-top: 106px; */
}
.hero-title {
  color: var(--color-primary-2);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
  /* margin-top: 106px; */
}

/* about us section*/
.about-us {
  max-width: 1240px;
  display: flex;
  font-size: 22px;
  line-height: 1.7;
  gap: 32px;
  align-items: center;
  margin-bottom: 176px;
}

.accent-text {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-section {
  width: 709px;
  height: 456px;
  margin-right: 0;
}

.gallery {
  width: 327px;
  height: 327px;
}

.about-us-picture {
  margin: 0;
  padding: 0;
  position: relative;
  width: 499px;
  height: 695px;
}

.gallery.first {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}
.picture {
  border-radius: 50%;
}
.gallery.second {
  position: absolute;
  bottom: 0;
  right: 0;
}
.limited {
  max-width: 638px;
}
/*advantages*/

.advantages-section {
  width: 100%;
  max-width: 1060px;
  height: 377px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 96px;
  background: linear-gradient(
    38.2deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}

.advantages-title {
  width: 100%;
  max-width: 532px;
  margin-bottom: 48px;
}
.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  gap: 56px;
}
.advantages-item {
  width: 100%;
  max-width: 316px;
  height: 181px;
  background-color: var(--color-primary-1);
  border-radius: 32px;
}
/* Procedure section*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-primary-3);
  cursor: pointer;
  flex-shrink: 0;
}
.carousel-button:hover {
  background-color: var(--color-primary-2);
  fill: var(--color-primary-1);
  border: none;
}
.carousel-button.next {
  transform: rotate(180deg);
}

.procedure-section {
  width: 100%;
  /* max-width: 1216px; */
  text-align: center;
  line-height: 1.3;
  margin-bottom: 96px;
}
.our-procedure-list {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
.procedure-container {
  display: flex;
  /* width: 100%; */
  gap: 32px;
  align-items: center;
}

.procedure-card {
  height: 456px;
  border: #011f4a 1px solid;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  z-index: 1;
  transition: transform 0.3s;
}
.picture-procedure {
  /* height: 456px; */
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}
.procedures-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
}
.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
  flex-wrap: wrap;
}
/*contacts*/
.contacts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 32px;
}
.contacts-section {
  padding-bottom: 96px;
  gap: 32px;
}
.contact-title {
  margin-bottom: 16px;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
.forma {
  width: 423px;
  height: 481px;
  background-color: var(--color-secondary-3);
  margin: 0;
  text-align: center;
  border-radius: 32px;
  color: var(--color-primary-1);
}
.forma.forma-title {
  /* color: var(--color-primary-1); */
  width: 274px;
}
.forma-title {
  margin-bottom: 32px;
}
.accent-forma {
  color: var(--color-primary-2);
}
.confidence {
  width: 100%;
  max-width: 213px;
  font-size: 12px;
  color: var(--color-secondary-2);
}
/*footer*/
.footer {
  width: 100%;
  max-width: 1440px;
  background-color: var(--color-primary-3);
  font-style: normal;
  padding: 56px;
}
.footer-container {
  display: flex;
  justify-content: center;
  font-size: 16px;
  /* flex-grow: 1; */
  color: var(--color-primary-1);
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-menu {
  margin: 0;
  flex-grow: 1;
}
.footer-link {
  color: var(--color-primary-1);
  text-decoration: none;
  margin-bottom: 16px;
}
.address-list,
.address-info {
  flex-grow: 1;
  margin: 0;
}

.address-link {
  color: var(--color-primary-1);
  text-decoration: none;
  font-style: normal;
  gap: 186px;
}
.social-network {
  display: flex;
}
.social-section {
  display: flex;
  gap: 24px;
}

.address-copyright {
  color: var(--color-secondary-2);
  font-size: 13px;
  line-height: 1.2;
  font-style: normal;
}
.adress-icon {
  fill: var(--color-primary-1);
}
