

:root {
  --color-primary-1: #ffff;
  --color-primary-2: #2b7fff;
  --color-primary-3: #011c44;
  --color-secondary-1: #4a4a4a;
  --color-secondary-2: #747272;
  --color-secondary-3: #011f4a;
  --color-secondary-4: #ffd02b;
}